chumpy==0.70
easydict==1.10
numpy==1.22.4
opencv_contrib_python_headless==4.8.0.76
opencv_python==4.8.0.76
opencv_python_headless==4.8.0.76
pyglet==1.5.27
scipy==1.7.3
smplx==0.1.28
torch==1.13.0
trimesh==3.9.21
